.container{
    max-width: 1191px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
}

@media  only screen  and (max-width: 480px){
    .container{
        max-width: 1191px;
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
    }
}